/* @keyframes color {
  0%   { background: #71797E	 }
  20%  { background: #848884	 }
  40%  { background: #708090; }
  60%  { background: #899499; }
  80%  { background: #818589; }
  100% { background: #808080; }
} */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* animation: color 9s infinite linear; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
